stamp-h1
stamp-h.in
missing
ltmain.sh
libtool
install-sh
depcomp
configure
config.sub
config.status
config.log
config.h.in
config.h
config.guess
config.rpath
autoregen.sh
autom4te.cache
aclocal.m4
Makefile.in
Makefile
ABOUT-NLS
INSTALL
COPYING
intltool*
m4
mkinstalldirs
coverage
*.log
*.cache
