*~
.libs
.deps
*.o
*.lo
*.la
*.da
*.bbg
*.gir
*.typelib
ar-lib
bmltest_info
bmltest_process
bmlhost
buzztrax-cmd
buzztrax-edit
bml
!bml/
bt_core
bt_gst
bt_ic
bt_cmd
bt_edit
bt-cfg.sh
dconf
event-sound-cache.tdb.*
stamp-h1
stamp-h.in
test-driver
missing
ltmain.sh
libtool
install-sh
depcomp
gtk-doc.make
compile
configure
config.sub
config.status
config.log
config.h.in
config.h
config.guess
config.rpath
autoregen.sh
autom4te.cache
aclocal.m4
Makefile.in
Makefile
ABOUT-NLS
AUTHORS
INSTALL
COPYING
GSYMS
GTAGS
GPATH
GRTAGS
intltool*
mkinstalldirs
coverage
buzztrax.schemas
tmp-orc.c
*.prj
*.pws
*.log
*.cache
*.tar.gz
.anjuta_sym_db.db
.anjuta
.dirstamp
*.trs
cscope.out
*.anjuta
*.gschema.valid
gschemas.compiled
buzztrax.appdata.xml
*.test
bt_*.tar.bz2
test-registry.reg
recently-used.xbel
mime/
fontconfig/
gstreamer-1.0/
0.0*.dot
