*~
Makefile
Makefile.in
.libs
*.stamp
*.types
*.signals
*.prerequisites
*.interfaces
*.hierarchy
*.args
*-decl-list.txt
*-decl.txt
*-overrides.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt
html
tmpl
xml
*.bbg
*.pdf
*.bak
*.1

